[user]
	name = shgtkshruch
	email = shgtk.shruch@gmail.com
[github]
  user = shgtkshruch
[color]
  diff = auto
  status = auto
  branch = auto
	ui = auto
[core]
  editor = vim
  precomposeunicode = true
[push]
	default = simple
[alias]
  ad = add
  al = config --global --get-regexp alias
  br = branch --verbose --verbose --color
  co = checkout
  m = checkout master
  cm = commit
  cf = config --global --edit
  d = diff
  l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lp = log --decorate --stat --patch
  ls = ls-files
  p = push
  s = status --branch --short
  remotes = remote -v
