[user]
	name = shgtkshruch
	email = shgtk.shruch@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
	ui = auto
[core]
  editor = vim
  precomposeunicode = true
[push]
	default = matching
[alias]
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  s = status -s
