---
- name: OSX provisoner
  hosts: localhost
  connection: local
  gather_facts: no
  become: no
  roles:
    - { role: dotfiles, tags: ['dotfile'] }
    - { role: peco, tags: ['peco'] }
    - { role: vim, tags: ['vim'] }
    - { role: homebrew, tags: ['homebrew'] }
    - { role: packages, tags: ['package'] }
    - { role: fish, tags: ['fish'] }
