---
- name: Update homebrew
  command: brew update

- name: Tap Homebrew repositories
  homebrew_tap: name={{ item }}
  with_items: homebrew.taps
  ignore_errors: true
  tags: tap

- name: Install Homebrew cask
  command: brew install caskroom/cask/brew-cask

- name: Install Homebrew packages
  homebrew: name={{ item }}
  with_items: homebrew.packages
  ignore_errors: true
  tags: brew

- name: Install Docker
  homebrew: name={{ item }}
  with_items: homebrew.docker
  notify: Initialize boot2docker
  tags: docker

- name: Install Homebrew cask packages
  homebrew_cask: name={{ item }}
  with_items: homebrew.casks
  ignore_errors: true
  tags: cask

- name: Install alfred
  homebrew_cask: name=alfred
  notify: alfred link

- name: Clean up
  command: brew cleanup
