---
- name: Install Vim
  homebrew: name=vim install_options=with-lua,with-python3

- name: Create synbolic link
  file: src={{ item }} dest=~/.vimrc state=link force=yes
  with_fileglob:
    - ./*

- name: Create directory for snippet
  file: path=~/.vim/snippets/ state=directory

- name: Snippets
  file: src={{ item }} dest=~/.vim/snippets/{{ item | basename}} state=link force=yes
  with_fileglob:
    - ./vim/snippets/*

- name: Install NeoBundle
  git: repo=https://github.com/Shougo/neobundle.vim dest=~/.vim/bundle/neobundle.vim

